h1 {
    text-align: center;
    padding-bottom: 55px;
}

h2 {
    text-align: center;
}

#thanks {
    border-style: solid;
    padding: 10px;
    position: absolute;
    width: 330px;
    left: 150px;
    padding-bottom: 60px;
}

img {
    position: absolute;
    left: 800px;
    width: 330px;
}

#input {
    position: absolute;
    top: 400px;
    font-size: 18px;
}

p {
    border-style: solid;
    padding: 12px;
}