header {
   text-align: center;
}

h1 {
    text-align: left;
}

h2 {
    text-align: left;
}

#instructions {
  position: absolute;
  width: 20%;
  text-align: right;
  left: 7%;
}
#exams {
  position: absolute;
  left: 42%;
  width: 10%;
  text-align: right;
}
#homework {
  position: absolute;
  left: 68%;
  width: 13%;
  text-align: right;
}