table {  
   border-collapse: collapse;
   text-align: center;
   border-style: solid;
   margin-left: 64%;
}
 
td, th {
    border-style: solid;
    border-color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
}

th {
    background-color: green;
    color: white;
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: PaleGreen;
}

section {
    position: absolute;
    border-style: solid;
    padding: 20px;
    width: 20%;
    margin-left: 38%;
    text-align: left;
}

div {
    position: absolute;
    top: 275px;
    width: 60%;
    text-align: center;
}

header {
    text-align: center;
}
