h1 {
    text-align: center;
}

#bio {
    border-style: solid;
    padding: 60px;
    position: absolute;
    left: 36%;
}

#work {
    border-style: solid;
    padding: 60px;
    position: absolute;
    padding-bottom: 75px;
}

#git {
    position: absolute;
    left: 70%;
    width: 485px;
}

#quote {
    margin-top: 325px;
}
