header {
   text-align: center;
}

h2 {
  text-align: center;
}

#description {
  position: absolute;
  border-style: solid;
  width: 30%;
}

#io_area {
  position: absolute;
  left: 32%;
  width: 60%;
  text-align: right;
}